# ÇOKLU DOĞRUSAL REGRESYON(MULTIPLE LINEAR REGRESSION)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
veriler = pd.read_excel("veriler.xlsx")
veriler.head()

  ulke  boy  kilo  yas cinsiyet
0   tr  130    30   10        e
1   tr  125    36   11        e
2   tr  135    34   10        k
3   tr  133    30    9        k
4   tr  129    38   12        e

In [3]:
## Ulkeler'i sayısal veriye çevirme

In [4]:
ulkeler = veriler.iloc[:, 0:1].values ## iloc ==> :== satıların hepsini seçti ","'den sonra kolon seçimi 0:1=ilk kolon

In [5]:
ulkeler

array([['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['tr'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['us'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr'],
       ['fr']], dtype=object)

In [6]:
from sklearn import preprocessing

In [7]:
le = preprocessing.LabelEncoder() ## nominal verileri sayısal verilere çevirir.

In [8]:
ulkeler[:, 0] = le.fit_transform(veriler.iloc[:,0]) ## LabelEncoder'a veriler sadece series verilebilir.(veriler.iloc[:,0])

In [9]:
ulkeler

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [2],
       [2],
       [2],
       [2],
       [2],
       [2],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0],
       [0]], dtype=object)

In [10]:
ohe = preprocessing.OneHotEncoder() ## Sayısal veriye çevrilen nominal verileri sütun haline getirir.

In [11]:
ulkeler = ohe.fit_transform(ulkeler).toarray() ## toarray() = sonucu numpyarray şeklinde almak için kullanıldı.

In [12]:
ulkeler

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [13]:
## Cinsiyeti sayısal veriye çevirme

In [14]:
c = veriler.iloc[:, -1:].values

In [15]:
c

array([['e'],
       ['e'],
       ['k'],
       ['k'],
       ['e'],
       ['e'],
       ['e'],
       ['e'],
       ['k'],
       ['e'],
       ['k'],
       ['k'],
       ['k'],
       ['k'],
       ['k'],
       ['e'],
       ['e'],
       ['e'],
       ['e'],
       ['k'],
       ['k'],
       ['k']], dtype=object)

In [16]:
le = preprocessing.LabelEncoder() ## nominal verileri sayısal verilere çevirir.

In [17]:
c[:, -1] = le.fit_transform(veriler.iloc[:,-1])

In [18]:
c

array([[0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1]], dtype=object)

Aslında cinsiyet değişkeni sadece e ve k şıklarından oluştuğu için OneHotEncoder() kullanılmaya gerek yoktur. Burada Kukla Değişken(Dummy Variable) olayına bir örnek verilmesi için OneHotEncoder() kullanıldı.

In [19]:
ohe = preprocessing.OneHotEncoder()

In [20]:
c = ohe.fit_transform(c).toarray()

In [21]:
c

array([[1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [22]:
sonuc= pd.DataFrame(data= ulkeler, index= range(22), columns= ['fr', 'tr', 'us']) ## range ==> ilk satırın 0'dab başlayıp 22'ye kadar gitmesi sağlandı. Bu yapılmasaydı sütunları da sayıp satırı oradan başlatacaktı.

In [23]:
sonuc

     fr   tr   us
0   0.0  1.0  0.0
1   0.0  1.0  0.0
2   0.0  1.0  0.0
3   0.0  1.0  0.0
4   0.0  1.0  0.0
5   0.0  1.0  0.0
6   0.0  1.0  0.0
7   0.0  1.0  0.0
8   0.0  1.0  0.0
9   0.0  0.0  1.0
10  0.0  0.0  1.0
11  0.0  0.0  1.0
12  0.0  0.0  1.0
13  0.0  0.0  1.0
14  0.0  0.0  1.0
15  1.0  0.0  0.0
16  1.0  0.0  0.0
17  1.0  0.0  0.0
18  1.0  0.0  0.0
19  1.0  0.0  0.0
20  1.0  0.0  0.0
21  1.0  0.0  0.0

In [24]:
yas = veriler.iloc[:,1:4]

In [25]:
yas

    boy  kilo  yas
0   130    30   10
1   125    36   11
2   135    34   10
3   133    30    9
4   129    38   12
5   180    90   30
6   190    80   25
7   175    90   35
8   177    60   22
9   185   105   33
10  165    55   27
11  155    50   44
12  160    58   39
13  162    59   41
14  167    62   55
15  174    70   47
16  193    90   23
17  187    80   27
18  183    88   28
19  159    40   29
20  164    66   32
21  166    56   42

In [26]:
sonuc2 = pd.DataFrame(data = yas, index = range(22), columns = ["boy", "kilo", "yas"])
sonuc2

    boy  kilo  yas
0   130    30   10
1   125    36   11
2   135    34   10
3   133    30    9
4   129    38   12
5   180    90   30
6   190    80   25
7   175    90   35
8   177    60   22
9   185   105   33
10  165    55   27
11  155    50   44
12  160    58   39
13  162    59   41
14  167    62   55
15  174    70   47
16  193    90   23
17  187    80   27
18  183    88   28
19  159    40   29
20  164    66   32
21  166    56   42

Aşağıdaki kodda c değişkeninin c[:, :1] bı şekilde alınmasının sebebi her iki kolonun da aslında cinsiyeti temsil etmesinden kaynaklı. Örneğin ulkeler değişkeninde her kolon(tr,fr,us) farklı özellikteki verileri temsil eder. Ama c değişkenindeki 2 kolon da cinsiyeti temsil eder. Burada c değişkeni için OneHotEncoder() kullanılmasına gerek yoktur. Fakat Kukla Değişken(Dummy Variable) tuzağına bir örnek olması için kullanılmıştır.

In [27]:
sonuc3 = pd.DataFrame(data = c[:, :1], index = range(22), columns = ["cinsiyet"]) 
sonuc3

    cinsiyet
0        1.0
1        1.0
2        0.0
3        0.0
4        1.0
5        1.0
6        1.0
7        1.0
8        0.0
9        1.0
10       0.0
11       0.0
12       0.0
13       0.0
14       0.0
15       1.0
16       1.0
17       1.0
18       1.0
19       0.0
20       0.0
21       0.0

In [28]:
s = pd.concat([sonuc, sonuc2], axis=1)
s

     fr   tr   us  boy  kilo  yas
0   0.0  1.0  0.0  130    30   10
1   0.0  1.0  0.0  125    36   11
2   0.0  1.0  0.0  135    34   10
3   0.0  1.0  0.0  133    30    9
4   0.0  1.0  0.0  129    38   12
5   0.0  1.0  0.0  180    90   30
6   0.0  1.0  0.0  190    80   25
7   0.0  1.0  0.0  175    90   35
8   0.0  1.0  0.0  177    60   22
9   0.0  0.0  1.0  185   105   33
10  0.0  0.0  1.0  165    55   27
11  0.0  0.0  1.0  155    50   44
12  0.0  0.0  1.0  160    58   39
13  0.0  0.0  1.0  162    59   41
14  0.0  0.0  1.0  167    62   55
15  1.0  0.0  0.0  174    70   47
16  1.0  0.0  0.0  193    90   23
17  1.0  0.0  0.0  187    80   27
18  1.0  0.0  0.0  183    88   28
19  1.0  0.0  0.0  159    40   29
20  1.0  0.0  0.0  164    66   32
21  1.0  0.0  0.0  166    56   42

In [29]:
s2 = pd.concat([s, sonuc3], axis = 1)
s2

     fr   tr   us  boy  kilo  yas  cinsiyet
0   0.0  1.0  0.0  130    30   10       1.0
1   0.0  1.0  0.0  125    36   11       1.0
2   0.0  1.0  0.0  135    34   10       0.0
3   0.0  1.0  0.0  133    30    9       0.0
4   0.0  1.0  0.0  129    38   12       1.0
5   0.0  1.0  0.0  180    90   30       1.0
6   0.0  1.0  0.0  190    80   25       1.0
7   0.0  1.0  0.0  175    90   35       1.0
8   0.0  1.0  0.0  177    60   22       0.0
9   0.0  0.0  1.0  185   105   33       1.0
10  0.0  0.0  1.0  165    55   27       0.0
11  0.0  0.0  1.0  155    50   44       0.0
12  0.0  0.0  1.0  160    58   39       0.0
13  0.0  0.0  1.0  162    59   41       0.0
14  0.0  0.0  1.0  167    62   55       0.0
15  1.0  0.0  0.0  174    70   47       1.0
16  1.0  0.0  0.0  193    90   23       1.0
17  1.0  0.0  0.0  187    80   27       1.0
18  1.0  0.0  0.0  183    88   28       1.0
19  1.0  0.0  0.0  159    40   29       0.0
20  1.0  0.0  0.0  164    66   32       0.0
21  1.0  0.0  0.0  166    56   42       0.0

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train, x_test, y_train, y_test =  train_test_split(s,sonuc3, test_size=0.33, random_state=0)

In [32]:
x_train

     fr   tr   us  boy  kilo  yas
8   0.0  1.0  0.0  177    60   22
6   0.0  1.0  0.0  190    80   25
16  1.0  0.0  0.0  193    90   23
4   0.0  1.0  0.0  129    38   12
2   0.0  1.0  0.0  135    34   10
5   0.0  1.0  0.0  180    90   30
17  1.0  0.0  0.0  187    80   27
9   0.0  0.0  1.0  185   105   33
7   0.0  1.0  0.0  175    90   35
18  1.0  0.0  0.0  183    88   28
3   0.0  1.0  0.0  133    30    9
0   0.0  1.0  0.0  130    30   10
15  1.0  0.0  0.0  174    70   47
12  0.0  0.0  1.0  160    58   39

In [33]:
x_test

     fr   tr   us  boy  kilo  yas
20  1.0  0.0  0.0  164    66   32
10  0.0  0.0  1.0  165    55   27
14  0.0  0.0  1.0  167    62   55
13  0.0  0.0  1.0  162    59   41
1   0.0  1.0  0.0  125    36   11
21  1.0  0.0  0.0  166    56   42
11  0.0  0.0  1.0  155    50   44
19  1.0  0.0  0.0  159    40   29

In [34]:
y_train

    cinsiyet
8        0.0
6        1.0
16       1.0
4        1.0
2        0.0
5        1.0
17       1.0
9        1.0
7        1.0
18       1.0
3        0.0
0        1.0
15       1.0
12       0.0

In [35]:
y_test

    cinsiyet
20       0.0
10       0.0
14       0.0
13       0.0
1        1.0
21       0.0
11       0.0
19       0.0

In [36]:
from sklearn.linear_model import LinearRegression

In [37]:
regressor = LinearRegression()

In [38]:
regressor.fit(x_train, y_train)

LinearRegression()

In [39]:
y_pred = regressor.predict(x_test)

In [40]:
y_pred # Bu değer y_test ile karşılaştırılır.

array([[ 0.98720204],
       [-0.12036863],
       [ 0.05009703],
       [ 0.07137418],
       [ 0.72473935],
       [ 0.64615044],
       [-0.03567453],
       [ 0.32612171]])

In [41]:
y_test

    cinsiyet
20       0.0
10       0.0
14       0.0
13       0.0
1        1.0
21       0.0
11       0.0
19       0.0

# boy değişkeninin bağımlı değişken olarak belirlendiği modeli oluşturma

In [42]:
boy = s2.iloc[:, 3:4].values

In [43]:
boy

array([[130],
       [125],
       [135],
       [133],
       [129],
       [180],
       [190],
       [175],
       [177],
       [185],
       [165],
       [155],
       [160],
       [162],
       [167],
       [174],
       [193],
       [187],
       [183],
       [159],
       [164],
       [166]], dtype=int64)

In [44]:
sol = s2.iloc[:, :3] # burdaki sol ve sag değişkenleri boy bazlı.Yani boyun solu ve sağı
sag = s2.iloc[:, 4:]

In [45]:
sol

     fr   tr   us
0   0.0  1.0  0.0
1   0.0  1.0  0.0
2   0.0  1.0  0.0
3   0.0  1.0  0.0
4   0.0  1.0  0.0
5   0.0  1.0  0.0
6   0.0  1.0  0.0
7   0.0  1.0  0.0
8   0.0  1.0  0.0
9   0.0  0.0  1.0
10  0.0  0.0  1.0
11  0.0  0.0  1.0
12  0.0  0.0  1.0
13  0.0  0.0  1.0
14  0.0  0.0  1.0
15  1.0  0.0  0.0
16  1.0  0.0  0.0
17  1.0  0.0  0.0
18  1.0  0.0  0.0
19  1.0  0.0  0.0
20  1.0  0.0  0.0
21  1.0  0.0  0.0

In [46]:
sag

    kilo  yas  cinsiyet
0     30   10       1.0
1     36   11       1.0
2     34   10       0.0
3     30    9       0.0
4     38   12       1.0
5     90   30       1.0
6     80   25       1.0
7     90   35       1.0
8     60   22       0.0
9    105   33       1.0
10    55   27       0.0
11    50   44       0.0
12    58   39       0.0
13    59   41       0.0
14    62   55       0.0
15    70   47       1.0
16    90   23       1.0
17    80   27       1.0
18    88   28       1.0
19    40   29       0.0
20    66   32       0.0
21    56   42       0.0

In [47]:
veri = pd.concat([sol, sag], axis=1)

In [48]:
veri

     fr   tr   us  kilo  yas  cinsiyet
0   0.0  1.0  0.0    30   10       1.0
1   0.0  1.0  0.0    36   11       1.0
2   0.0  1.0  0.0    34   10       0.0
3   0.0  1.0  0.0    30    9       0.0
4   0.0  1.0  0.0    38   12       1.0
5   0.0  1.0  0.0    90   30       1.0
6   0.0  1.0  0.0    80   25       1.0
7   0.0  1.0  0.0    90   35       1.0
8   0.0  1.0  0.0    60   22       0.0
9   0.0  0.0  1.0   105   33       1.0
10  0.0  0.0  1.0    55   27       0.0
11  0.0  0.0  1.0    50   44       0.0
12  0.0  0.0  1.0    58   39       0.0
13  0.0  0.0  1.0    59   41       0.0
14  0.0  0.0  1.0    62   55       0.0
15  1.0  0.0  0.0    70   47       1.0
16  1.0  0.0  0.0    90   23       1.0
17  1.0  0.0  0.0    80   27       1.0
18  1.0  0.0  0.0    88   28       1.0
19  1.0  0.0  0.0    40   29       0.0
20  1.0  0.0  0.0    66   32       0.0
21  1.0  0.0  0.0    56   42       0.0

In [49]:
x_train, x_test, y_train, y_test = train_test_split(veri, boy, test_size = 0.33, random_state=0)

In [50]:
x_train

     fr   tr   us  kilo  yas  cinsiyet
8   0.0  1.0  0.0    60   22       0.0
6   0.0  1.0  0.0    80   25       1.0
16  1.0  0.0  0.0    90   23       1.0
4   0.0  1.0  0.0    38   12       1.0
2   0.0  1.0  0.0    34   10       0.0
5   0.0  1.0  0.0    90   30       1.0
17  1.0  0.0  0.0    80   27       1.0
9   0.0  0.0  1.0   105   33       1.0
7   0.0  1.0  0.0    90   35       1.0
18  1.0  0.0  0.0    88   28       1.0
3   0.0  1.0  0.0    30    9       0.0
0   0.0  1.0  0.0    30   10       1.0
15  1.0  0.0  0.0    70   47       1.0
12  0.0  0.0  1.0    58   39       0.0

In [51]:
x_test

     fr   tr   us  kilo  yas  cinsiyet
20  1.0  0.0  0.0    66   32       0.0
10  0.0  0.0  1.0    55   27       0.0
14  0.0  0.0  1.0    62   55       0.0
13  0.0  0.0  1.0    59   41       0.0
1   0.0  1.0  0.0    36   11       1.0
21  1.0  0.0  0.0    56   42       0.0
11  0.0  0.0  1.0    50   44       0.0
19  1.0  0.0  0.0    40   29       0.0

In [52]:
y_train

array([[177],
       [190],
       [193],
       [129],
       [135],
       [180],
       [187],
       [185],
       [175],
       [183],
       [133],
       [130],
       [174],
       [160]], dtype=int64)

In [53]:
y_test

array([[164],
       [165],
       [167],
       [162],
       [125],
       [166],
       [155],
       [159]], dtype=int64)

In [54]:
regressor.fit(x_train, y_train)

LinearRegression()

In [55]:
y_predict = regressor.predict(x_test)

In [56]:
y_predict

array([[182.26638686],
       [152.87161474],
       [162.79386375],
       [158.30668577],
       [130.82888952],
       [173.96138408],
       [150.12782663],
       [157.26898922]])

In [57]:
y_test

array([[164],
       [165],
       [167],
       [162],
       [125],
       [166],
       [155],
       [159]], dtype=int64)

Yeni Model ile Oluşturma

In [58]:
regressor2 = LinearRegression()

In [59]:
regressor2.fit(x_train, y_train)

LinearRegression()

In [60]:
y_predict2 = regressor2.predict(x_test)

In [61]:
y_predict2

array([[182.26638686],
       [152.87161474],
       [162.79386375],
       [158.30668577],
       [130.82888952],
       [173.96138408],
       [150.12782663],
       [157.26898922]])

In [62]:
y_test

array([[164],
       [165],
       [167],
       [162],
       [125],
       [166],
       [155],
       [159]], dtype=int64)

# DEĞER SEÇİMİ-GERİ ELEME(BACKWARD ELIMINATION)
1. 1.adımda geri eleme için bir sistem oluşturulmalı ve bu sistemde verilerin değişkenleri ve sabit değer olmalı.
2. 2.adımda üzerinde çalışacağımız verilerin değerleri ele alınır. Sonrasında array içine atılır.
3. 3.adım OLS ile model oluşturulur. OLS'ye verilecek ilk parametre sonuç olarak bulunmak istenen değer yani bağımlı değişken(boy), ikinci parametre ise elemek için üzerinde test yaptığımız değerler yani bağımsız değişkenlerdir(X_l).
4. 4.adımda oluşturulan modelin çıktısını görmek için "summary()" metodu kullanılır ve bu değerlere göre hareket edilir.
5. 5.adımda P değerine göre eleme yapılmaya başlanır. P değeri ne kadar düşükse o kadar iyidir.

In [63]:
import statsmodels.api as sm # modelin ve modelin değişkenlerinin başarısını ölçmek için kullanıldı.

In [65]:
veri.head()

    fr   tr   us  kilo  yas  cinsiyet
0  0.0  1.0  0.0    30   10       1.0
1  0.0  1.0  0.0    36   11       1.0
2  0.0  1.0  0.0    34   10       0.0
3  0.0  1.0  0.0    30    9       0.0
4  0.0  1.0  0.0    38   12       1.0

1.Adım: Geri eleme üzerinde çalışılacak sistem oluşturma. Burada üzerinde eleme yapacağımız verinin değişkenleri yer alır. Sabit değer verinin içinde olmadığı için "np.ones((22,1)).astype(int)" koduyla sabit değer eklenir(22 satır 1 kolon, türü = int). Sabit değer çarpanları 1 olduğu için 1 olarak belirlendi(anlamadım).

In [67]:
X = np.append(arr = np.ones((22,1)).astype(int), values = veri, axis=1)

2.Adım: Üzerinde çalışacağımız verilerin değerleri ele alınır. Sonrasında array içine atılır.

In [68]:
X

array([[  1.,   0.,   1.,   0.,  30.,  10.,   1.],
       [  1.,   0.,   1.,   0.,  36.,  11.,   1.],
       [  1.,   0.,   1.,   0.,  34.,  10.,   0.],
       [  1.,   0.,   1.,   0.,  30.,   9.,   0.],
       [  1.,   0.,   1.,   0.,  38.,  12.,   1.],
       [  1.,   0.,   1.,   0.,  90.,  30.,   1.],
       [  1.,   0.,   1.,   0.,  80.,  25.,   1.],
       [  1.,   0.,   1.,   0.,  90.,  35.,   1.],
       [  1.,   0.,   1.,   0.,  60.,  22.,   0.],
       [  1.,   0.,   0.,   1., 105.,  33.,   1.],
       [  1.,   0.,   0.,   1.,  55.,  27.,   0.],
       [  1.,   0.,   0.,   1.,  50.,  44.,   0.],
       [  1.,   0.,   0.,   1.,  58.,  39.,   0.],
       [  1.,   0.,   0.,   1.,  59.,  41.,   0.],
       [  1.,   0.,   0.,   1.,  62.,  55.,   0.],
       [  1.,   1.,   0.,   0.,  70.,  47.,   1.],
       [  1.,   1.,   0.,   0.,  90.,  23.,   1.],
       [  1.,   1.,   0.,   0.,  80.,  27.,   1.],
       [  1.,   1.,   0.,   0.,  88.,  28.,   1.],
       [  1.,   1.,   0.,   0.,  40.,  29.,   0.],
       [  1.,   1.,   0.,   0.,  66.,  32.,   0.],
       [  1.,   1.,   0.,   0.,  56.,  42.,   0.]])

In [69]:
X_l = veri.iloc[:, [0,1,2,3,4,5]].values

In [71]:
X_l = np.array(X_l, dtype = float)

3.Adım: OLS metoduna ilgili parametreler(boy, X_l) verilir ve fit edilir.

In [73]:
model = sm.OLS(boy, X_l).fit()

4.Adım: Oluşturulan modelin "model.summary()" koduyla çıktısı alınır ve bu değerlere göre hareket edilir.

In [74]:
model.summary() # oluşturulan modelin raporu

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.885
Model:                            OLS   Adj. R-squared:                  0.849
Method:                 Least Squares   F-statistic:                     24.69
Date:                Mon, 19 Feb 2024   Prob (F-statistic):           5.41e-07
Time:                        11:49:38   Log-Likelihood:                -73.950
No. Observations:                  22   AIC:                             159.9
Df Residuals:                      16   BIC:                             166.4
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           114.0688      8.145     14.005      0.000      96.802     131.335
x2           108.3030      5.736     18.880      0.000      96.143     120.463
x3           104.4714      9.195     11.361      0.000      84.978     123.964
x4             0.9211      0.119      7.737      0.000       0.669       1.174
x5             0.0814      0.221      0.369      0.717      -0.386       0.549
x6           -10.5980      5.052     -2.098      0.052     -21.308       0.112
==============================================================================
Omnibus:                        1.031   Durbin-Watson:                   2.759
Prob(Omnibus):                  0.597   Jarque-Bera (JB):                0.624
Skew:                           0.407   Prob(JB):                        0.732
Kurtosis:                       2.863   Cond. No.                         524.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

NOT: P değeri ne kadar düşükse o kadar iyi

5.Adım: P değerlerine bakılarak eleme işlemine başlanır.

Alınan sonuçlarda 5. değişken yani 4.index(yas)'in P değeri yüksek çıktığı için elendi. Ve model tekrar çalıştırıldı. Ve yeni değerler elde edilidi.

In [83]:
X_l = veri.iloc[:, [0,1,2,3,5]].values
X_l = np.array(X_l, dtype = float)
model = sm.OLS(boy, X_l).fit()

In [84]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.884
Model:                            OLS   Adj. R-squared:                  0.857
Method:                 Least Squares   F-statistic:                     32.47
Date:                Mon, 19 Feb 2024   Prob (F-statistic):           9.32e-08
Time:                        11:59:57   Log-Likelihood:                -74.043
No. Observations:                  22   AIC:                             158.1
Df Residuals:                      17   BIC:                             163.5
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           115.6583      6.734     17.175      0.000     101.451     129.866
x2           109.0786      5.200     20.978      0.000      98.108     120.049
x3           106.5445      7.090     15.026      0.000      91.585     121.504
x4             0.9405      0.104      9.029      0.000       0.721       1.160
x5           -11.1093      4.733     -2.347      0.031     -21.096      -1.123
==============================================================================
Omnibus:                        0.871   Durbin-Watson:                   2.719
Prob(Omnibus):                  0.647   Jarque-Bera (JB):                0.459
Skew:                           0.351   Prob(JB):                        0.795
Kurtosis:                       2.910   Cond. No.                         397.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [86]:
X_l = veri.iloc[:, [0,1,2,3]].values
X_l = np.array(X_l, dtype = float)
model = sm.OLS(boy, X_l).fit()

In [87]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.847
Model:                            OLS   Adj. R-squared:                  0.821
Method:                 Least Squares   F-statistic:                     33.16
Date:                Mon, 19 Feb 2024   Prob (F-statistic):           1.52e-07
Time:                        12:01:20   Log-Likelihood:                -77.131
No. Observations:                  22   AIC:                             162.3
Df Residuals:                      18   BIC:                             166.6
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           119.8136      7.265     16.491      0.000     104.550     135.077
x2           109.8084      5.804     18.919      0.000      97.615     122.002
x3           114.4212      6.984     16.382      0.000      99.747     129.095
x4             0.7904      0.092      8.595      0.000       0.597       0.984
==============================================================================
Omnibus:                        2.925   Durbin-Watson:                   2.855
Prob(Omnibus):                  0.232   Jarque-Bera (JB):                1.499
Skew:                           0.605   Prob(JB):                        0.473
Kurtosis:                       3.416   Cond. No.                         369.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""